body
{
background-image: url(https://thumbs.dreamstime.com/b/colorful-math-fractions-numbers-letters-yellow-background-interesting-fun-math-kids-education-back-to-school-colorful-math-178617518.jpg);
background-size: 99%;
}

	.login_div
	{
		background: white;
		padding: 20px;
		float: none;
		border-radius: 15px;
        margin-left: 50%;
	}

    button{
        margin-left: 50%;
    }


#player1_name , #player2_name
{
	display: inline-block;
    margin-right: 20px;}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

h1{
    color: black;
    margin-left: 50%;
}
